.login-page-wrapp {
  height: 100vh;
  background-color: black;
}

.login-form-wrap {
  width: 50%;
  background-color: black;
}

.login-tab {
  display: none;
}

.sign-tab {
  display: none;
}

.login-form-wrap .form-card {
  max-width: 500px;
  max-height: 100%;
  width: 100%;
  margin-right: 30px;
  /* overflow-y: scroll; */
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
  max-height: 99%;
  background-color: darkolivegreen ;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: burlywood;
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#cityLabel {
  display: block;
}

.form-card {
  background-color: darkolivegreen;
}

.form-control {
  background-color: black;
}
.color-body {
  overflow-y: scroll;
}

.nav {
  background-color: black;
}